#body{
    background-color: #3980A2;
    height: 100vh;
    color: white;
}

#navbrand{
    color: white;
    font-size: 32px;
    font-family: GreatVibes;
    font-weight: bolder;
    margin-left: 150px;
}

@font-face {
    font-family: GreatVibes ;
    src: url(C:\Users\vyshn_dy6zpym\OneDrive\Desktop\Futura\react\my-app\public\GreatVibes-Regular.ttf);
}

#navlink{
    font-size: 18px;
    margin-left: 330px;
}

.navlink1{
    color: white;
}

#main{
    margin-top: 130px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#buttontask{
    background-color: #BCC12D;
    border-width: 0px;
    border-radius: 0px;
    width: 120px;
}
h1{
    font-size: 47px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}