.drop{
    margin-left: 0px;
    margin-right: 120px;
    width: 20px;
    background-color: white;
}

#logo{
    margin-top: 43px;
    margin-left: 50px;
    margin-bottom: 0px;
    height: 30px;
}

#basic-nav-dropdown{
    color: rgb(65, 65, 65);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 56px;
    margin-left: 25px;
    font-size: 18px
}
#basic-nav-dropdown:hover{
    text-decoration: underline;
}

.navlink{
    color: rgb(65, 65, 65);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px;
    font-size: 18px;
    margin-top: 56px;
}

.navlink:hover{
    text-decoration: underline;
}

#like{
    color: rgb(252, 167, 195);
    font-size: 13px
}

#icons{
    display: flex;
    margin-left: 150px;
    font-size: 25px;
    margin-top: 50px;
    color: rgb(206, 206, 206);
}

#search{
    width: 400px;
    height: 40px;
    background-image: url("C:\Users\vyshn_dy6zpym\OneDrive\Desktop\Futura\react\my-app\public\search.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 370px;
    border-width: 1px;
}
